.loan-calc
  
  &--center
    display flex
    align-items center
    justify-content center

  &--right
    display flex
    align-items center
    justify-content flex-end

  &--left
    display flex
    align-items center

  &--vert
    display flex
    flex-direction column
    justify-content center

  &--noselect
    user-select none

  &--align-center
    display flex
    justify-content center